
/* FULL BOOTSTRAP SUPPORT ~147K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";*/
@import "../bower_components/chartist/dist/scss/chartist.scss";


/*VARIABLES*/

$black: #414042; 
$orange: #f9a11b;
$green: #2d9598; 



/*TESTING*/

body{
	height: 100%;
	width: 100%;
	margin: 0;
	display: none;
	background-color: #2d9598;
}

video#homeVid {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 105%;
    min-height: 107%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;
    background-size: cover; */
    /*Need to ender a placeholder image above*/
}

#homeOverlay {
  width: 100%;
  height: 100%;
  background: rgba(249,161,27, 0.3);
  display: block;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: -50;
}

#titleSvg{
	/*position: relative;*/
	width: 70%;
	margin: 15% auto auto auto;
}

#exactlySvg{
	/*position: fixed;*/
	width: 70%; 
	margin: 0 auto;
	margin-top: -28%;
	padding-left: 2%; 
	/*top: 33%;
	left: 17%;*/
}

#logoLockup{
	width: 20%;
	margin: 0 auto;
	margin-top: -37%;
}






/*.scrollSection{ 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	background: url("../img/titleGirl.jpg") no-repeat center;
}*/

h3{
	font-family:'Superclarendon W01 Bold1415376';
	color: $black;
}


/*MENU*/

#datacontainer{
	position: relative;
	margin-top: 800px;

}





#navColumn{
	background-color: $orange;
	width: 200px;
	height: 100%;
	padding-bottom: 5000px;
	margin-top: -130px;
	padding-top: 100px;
	position: absolute; 

	/*display: block;*/
/*	position: fixed;*/
	/*padding-bottom: 5000px;*/
	/*height: 100%;*/
}
#menuContents{
	margin: 100% auto 0 auto;
}

#menuLogo{
	width: 100px;
	margin: 0 auto 20px auto;
}

#fullReport{
	width: 100px;
	margin: 20px auto 0 auto;
}



.navList {

	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 700;

	padding: 0;
	text-align: center;

	li{
		list-style-type: none;
	}
	a{
		color: white;
		text-decoration: none;


	}
	a:hover{
		text-decoration: none;
		color: $black;
	}

	.active{
			color: $black;
		}
}


/*SLIDES*/
.container{
	margin: 0;
	height: 100%;
	/*width: 100%;*/
	padding-right: 0;
}

.scrollSection{
	height: 1000px;

}

.row{
	margin: 0;
}
.offset200{
	padding-left: 200px;
}

.sec1twothird{
	background-color: $orange;
	padding: 300px 0 0px 0 ;
}
.sec1onethird{
	background-color: $green;
}

/*svg{
	margin-top: 200px;
}*/

#sec5{
	padding-bottom: 5000px;
}

#vBox1{
width: 70%;
right: 0;


}

#verbatim{
	margin-top: 100px;
}

.scrollmagic-pin-spacer{
	margin-bottom: 200px !important;
}







/* PARTIAL BOOTSTRAP SUPPORT ~34K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
